<!DOCTYPE html>
<html lang="en" data-th-replace="~{base::parent(~{::#content},  ~{::title})}">
  <head>
    <title>Login</title>
  </head>
  <body>
    <div id="content">
      <div class="grid grid-cols-12">
        <div class="col-span-3"></div>
        <div class="col-span-12 md:col-span-6">
          <div
            class="block p-6 mt-4 border-t-[10px] bg-gray-200 border-blue-600 rounded-xl shadow dark:bg-gray-700 dark:border-blue-600"
          >
            <div data-th-replace="alert::alert-box"></div>
            <h5
              class="mb-2 text-center text-3xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Login Here
            </h5>
            <p class="font-normal text-center text-gray-700 dark:text-gray-400">
              Please fill the below form to login into Contact Manager 2.0
              application..
            </p>

            <div class="text-red-500 text-center" th:if="${param.error}">
                Invalid username and password.</div>
            <div class="text-green-500 text-center" th:if="${param.logout}">
                You have been logged out!</div>

            <form
              class="max-w-sm mx-auto mt-5"
              method="post"
              data-th-action="@{'/authenticate'}"
              novalidate
            >
              <div class="mb-5">
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Email</label
                >
                <input
                  name="email"
                  type="email"
                  id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter your Email"
                  required
                />
                <!-- <p
                    data-th-if="${#fields.hasErrors('emailId')}"
                    data-th-errors="*{emailId}"
                    class="text-red-600 px-2 py-2 text-sm"
                  ></p> -->
              </div>
              <div class="mb-5">
                <label
                  for="password"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Password</label
                >
                <input
                  name="password"
                  type="password"
                  id="password"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter your Password"
                  required
                />
                <!-- <p
                    data-th-if="${#fields.hasErrors('password')}"
                    data-th-errors="*{password}"
                    class="text-red-600 px-2 py-2 text-sm"
                  ></p> -->
              </div>

              <div class="flex justify-center gap-8 mt-4">
                <button
                  type="submit"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
